html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent; }

.color_19 { color: #273B7B; }

.s2 h2 {
    line-height: normal;
    letter-spacing: normal;
    word-wrap: break-word;
    }

.font_2 {
    font: normal normal normal 56px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    color: #2F2E2E;
    }

.s15label {
    font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    margin: calc(-1 * 0px) 0px 0;
    position: relative;
    white-space: nowrap;
    }

.s15[data-disabled="false"] .s15link {
    background-color: rgba(241, 104, 118, 1);
    border: solid rgba(96, 94, 94, 1) 0px;
    cursor: pointer !important;
    text-align: center;
    }

.s15link {
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    }


.s15[data-disabled="false"]:active[data-state~="mobile"] .s15link,.s15[data-disabled="false"]:hover[data-state~="desktop"] .s15link {background-color:rgba(39, 59, 123, 1);border-color:transparent;}
.s15[data-disabled="false"]:active[data-state~="mobile"] .s15label,.s15[data-disabled="false"]:hover[data-state~="desktop"] .s15label {color:#FFFFFF;}

ol, ul {
    list-style: none;
    }

.s74menuContainer { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; width: 100%; height: 100%; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.s74menuContainer .s74_item { position: relative; }

.s74menuContainer .s74_item .s74_link { display: -webkit-box; display: -webkit-flex; display: flex; text-decoration: none; width: 100%; cursor: default; -webkit-box-align: center; -webkit-align-items: center; align-items: center; pointer-events: none; }

.s74menuContainer .s74_item .s74_link .s74_text-wrapper { position: relative; white-space: nowrap; text-align: right; line-height: 100%; visibility: hidden; opacity: 0; left: 10px; font: normal normal normal 14px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif; color: rgba(204, 204, 204, 1); width: calc(100% - 15px); -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1); }

.s74menuContainer .s74_item .s74_link .s74_text-wrapper .s74_label { cursor: pointer; }

.s74menuContainer .s74_item .s74_link .s74_symbol { cursor: pointer; -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; pointer-events: all; fill: transparent; stroke: rgba(204, 204, 204, 1); stroke-width: 4px; }

.s74menuContainer.s74_orientation-left .s74_item .s74_link { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; flex-direction: row; }

.s74menuContainer.s74_orientation-right .s74_item .s74_link { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.s74menuContainer.s74_text-align-left .s74_item .s74_link .s74_text-wrapper { text-align: left; }

.s74menuContainer.s74_text-align-center .s74_item .s74_link .s74_text-wrapper { text-align: center; }

.s74menuContainer.s74_text-align-right .s74_item .s74_link .s74_text-wrapper { text-align: right; }

.s74menuContainer .s74_item.s74_active .s74_link, .s74menuContainer .s74_item.s74_hover .s74_link { pointer-events: all; }

.s74menuContainer .s74_item.s74_active .s74_link .s74_symbol, .s74menuContainer .s74_item.s74_hover .s74_link .s74_symbol { fill: #8999D0; stroke: #8999D0; }

.s74menuContainer .s74_item.s74_active .s74_link .s74_text-wrapper, .s74menuContainer .s74_item.s74_hover .s74_link .s74_text-wrapper { visibility: visible; opacity: 1; left: 0; color: #8999D0; }

.s74menuContainer.s74_text-align-left .s74_item .s74_link .s74_text-wrapper .s74_label, .s74menuContainer.s74_orientation-left.s74_text-align-center .s74_item .s74_link .s74_text-wrapper .s74_label { padding-left: 14px; }

.s74menuContainer.s74_text-align-right .s74_item .s74_link .s74_text-wrapper .s74_label, .s74menuContainer.s74_orientation-right.s74_text-align-center .s74_item .s74_link .s74_text-wrapper .s74_label { padding-right: 14px; }

.s74menuContainer .s74_item.s74_light .s74_link .s74_text-wrapper, .s74menuContainer .s74_active.s74_item.s74_light .s74_link .s74_text-wrapper { color: #FFF; }

.s74menuContainer .s74_item.s74_light .s74_link .s74_symbol, .s74menuContainer .s74_active.s74_item.s74_light .s74_link .s74_symbol { stroke: #FFF; }

.s74menuContainer .s74_active.s74_item.s74_light .s74_link .s74_symbol { fill: #FFF; }

.s74menuContainer .s74_item.s74_dark .s74_link .s74_text-wrapper, .s74menuContainer .s74_active.s74_item.s74_dark .s74_link .s74_text-wrapper { color: #000; }

.s74menuContainer .s74_item.s74_dark .s74_link .s74_symbol, .s74menuContainer .s74_active.s74_item.s74_dark .s74_link .s74_symbol { stroke: #000; }

.s74menuContainer .s74_active.s74_item.s74_dark .s74_link .s74_symbol { fill: #000; }

.font_0 { font: normal normal normal 26px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_1 { font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif; color: #605E5E; }

.font_2 { font: normal normal normal 56px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_3 { font: normal normal normal 90px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif; color: #2F2E2E; }

.font_4 { font: normal normal normal 50px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_5 { font: normal normal normal 33px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif; color: #2F2E2E; }

.font_6 { font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_7 { font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_8 { font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_9 { font: normal normal normal 13px/1.4em avenir-lt-w01_35-light1475496, sans-serif; color: #2F2E2E; }

.font_10 { font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif; color: #605E5E; }

#comp-ihkhjsqjdataItem-ihkhjsqj2 {
    background-image: url(../img/circle1.png);
    background-size: 372px;
    background-repeat: no-repeat;
    background-position: center;
    }

#comp-ihkhjsqjdataItem-ihkhjsqj2:hover {
    background-image: url(../img/circle2.png);
    }

#comp-ihkhj4ukdataItem-ihkhj4uk2 {
    background-image: url(../img/company1.png);
    background-size: 372px;
    background-repeat: no-repeat;
    background-position: center;
    }

#comp-ihkhj4ukdataItem-ihkhj4uk2:hover {
    background-image: url(../img/company2.png);
    }

#img1, #img2, #img3 {
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    width: 180px;
    display: inline-block;
    margin-left: 50px;
    }

#img1 {
    background-image: url(../img/logo1.png);
    }

#img2 {
    background-image: url(../img/logo2.png);
    }

#img3 {
    background-image: url(../img/logo3.png);
    }

#img1:hover, #img2:hover, #img3:hover {
    opacity: 0.4;
    }

.s73label {
    font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
    transition: color 0.4s ease 0s;
    color: #8999D0;
    display: inline-block;
    margin: calc(-1 * 0px) 0px 0;
    position: relative;
    white-space: nowrap;
    }

.s73label:hover {
    opacity: 0.4;
    }

.s0_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(204, 204, 204, 0.3);
    border-top: 1px solid rgba(160, 160, 159, 1);
    border-bottom: 0px solid rgba(160, 160, 159, 1);
    }

/*menu*/

body {
    background: #EEE;
    margin: 0;
    font-family: "PT Serif", Arial;
    }

h1 {
    margin: 5px 0 15px 0;
    }

.wrapper {
    background: #FFF;
    width: 700px;
    padding: 5px 20px 15px;
    margin: 0 auto;
    box-shadow: 0 0 20px #CCC;
    }

a { color: darkblue; }

a:hover { color: darkred; }

.clear { clear: both; }

ul.dropdown li { position: relative; }

ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;

font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
	
    }

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
    }

ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
    }

ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
    }


ul.dropdown a.dropdown-top:hover { padding: 2px 10px 5px; }

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
    }

ul.dropdown .dropdown-inside { background: #FFF; }

ul.dropdown .dropdown-inside a:hover { background: #EFEFEF; }

.dropdown {
    left: 371px;
    width: 708px;
    position: absolute;
    top: 7px;
    height: 50px;
	font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
	text-decoration:none;
    }

.error{
    position: relative;
    top: 50px;
    left: 700px;
    color: red;
    }
.imageAttempts{
    float:left;
    margin:20px;

    }
.buttonsred{
    display: block;
    margin: 30px;
    background-color: rgba(241, 104, 118, 1);
    padding: 10px;
    color: #FFFFFF;
    }
.buttonsred:hover{
   background-color:rgba(39, 59, 123, 1);

    }
input.redButton{

    }