<html class="">
<head>
    <title>Jess</title>
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/styles.css">
    <!--    <base href="http://139.59.130.84"> -->
</head>
<body>

<nav class="navbar  navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{url('/')}}">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{url('/get-started')}}">Get started<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{url('/select-video')}}">Select video</a></li>
                    <li><a href="{{url('/final-page-review')}}">Final page/review</a></li>
                </ul>
            </li>
            <li><a href="{{url('/video-resumes')}}">Video Resumes</a></li>
            <li><a href="{{url('/our-process')}}">Our Process</a></li>
            <li><a href="{{url('/our-team-1')}}">Our Team</a></li>
            <li><a href="{{url('/support')}}">Support</a></li>
        </ul>
    </div>
</nav>
<div class="backgroundImage">
    <div class="container">
        <div class="part1">
            <h2><span class="sizeTop">Stand Out With Your</span>
                <span class="bold">Video Resume</span>.
            </h2>

            <h2>
                <span class="sizeTop1">Rezzio gives you the technology to personalize your video resume. Stand out against the competition for </span>
                <span class="sizeTop2"><span class="bold"> free.&nbsp;</span></span>
            </h2>

            <div class="redButton center">
                <a href="/get-started" target="_self">
                    Get Started</a>
            </div>
            <div class="redButton center">
                <a href="/our-process" target="_self">
                    Learn More</a>
            </div>
        </div>
        <div class="part2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="circle">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h5>
                        Video Resumes
                    </h5>
                    <h6>&nbsp;</h6>

                    <p class="font7">I'm a paragraph. Click here to add your
                                     own text and edit me. I'm a great place
                                     for you to tell a story and let your users
                                     know a little more about you.</p>

                    <div class="redButton center">
                        <a href="/video-resumes" target="_self">
                            Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part3">
            <div class="row">
                <div class="col-sm-6">
                    <div style="padding: 80px;">
                        <h5 class="font_5"><span
                                style="letter-spacing:0.07em;">OUR TEAM</span>
                        </h5>
                        <h6 style="line-height: 1.5em;" class="font_6">&nbsp;</h6>

                        <p class="font7">I'm a paragraph. Click here to add your
                                         own text and edit me. I'm a great place
                                         for you to tell a story and let your users
                                         know a little more about you.</p>
                    </div>
                    <div class="redButton center">
                        <a href="/our-team-1" target="_self">
                            Read More</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="company">
                    </div>
                </div>
            </div>
        </div>
        <div class="part4">
            <div class="ourClients">
                <h5>OUR CLIENTS
                </h5>
            </div>

            <div>
                <div id="img1"></div>
                <div id="img2"></div>
                <div id="img3"></div>
            </div>
            <div class="redButton center">
                <a href="/clients" target="_self">
                    Read More</a>
            </div>
        </div>
        <div class="part5">
            <div>
                <h5 class="font_5"><span style="letter-spacing:0.2em;">LATEST ARTICLES</span>
                </h5>

                <div>
                    <div>
                        <div>
                            <a href="http://144.76.28.156:8091/single-post/2011/01/11/Top-5-Tips-for-Creating-Impressive-Video-Resumes">
                                <div>
                                    <div>
                                        <p class="font_8">
                                            Top 5
                                            Tips for
                                            Creating
                                            Impressive
                                            Video
                                            Resumes</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <p class="font_10">
                                        January 12,
                                        2011</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="http://144.76.28.156:8091/single-post/2011/01/11/Top-5-Tips-for-Creating-Impressive-Video-Resumes">
                            <div>
                                <img src="https://static.wixstatic.com/media/90b465_00e319a7e40546fbbe1043070d62080e~mv2.png/v1/fill/w_414,h_279,al_c,lg_1/90b465_00e319a7e40546fbbe1043070d62080e~mv2.png">
                            </div>
                        </a>
                    </div>
                </div>
                <div>
                    <a class="moreNews"
                       href="http://144.76.28.156:8091/video-resumes"
                       target="_self">More News &gt;
                    </a>
                </div>
            </div>
        </div>

        <div class="part6">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="font_5">Need more details? Contact us</h5>

                    <p class="font_7">We are here to assist. Contact us by
                                      phone, email or via our social media
                                      channels.</p>
                </div>
                <div class="col-sm-4">
                    <div class="redButton center">
                        <a href="/support" target="_self">
                            Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="social">
            <a href="http://www.facebook.com/wix" target="_blank">
                <img id="comp-ihjai4yzdataItem-ihjai4yz2imageimage" alt=""
                     src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_38,h_38,al_c,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.png">
            </a>
        </div>
        <div class="social">
            <a href="http://www.twitter.com/wix" target="_blank">
                <img alt=""
                     src="https://static.wixstatic.com/media/c7d035ba85f6486680c2facedecdcf4d.png/v1/fill/w_38,h_38,al_c,usm_0.66_1.00_0.01/c7d035ba85f6486680c2facedecdcf4d.png">
            </a>
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/company/wix-com" target="_blank">
                <img id="comp-ihjai4yzdataItem-ihjak4ajimageimage" alt=""
                     src="https://static.wixstatic.com/media/6ea5b4a88f0b4f91945b40499aa0af00.png/v1/fill/w_38,h_38,al_c,usm_0.66_1.00_0.01/6ea5b4a88f0b4f91945b40499aa0af00.png">
            </a>
        </div>
    </div>
</div>
</body>
</html>